Repository AY2223S2-CS2103-F11-3/tp, pull requests merged in 2023-04, with the labels that each got.

#331 Update vaccination UG
  docs/UserGuide.md
  docs/_sass/minima/_base.scss
Labels: severity.High, type.DocumentationBug

#333 Fix PE-D bugs in EditCommand for Appointment class
  src/main/java/seedu/vms/logic/commands/appointment/EditCommand.java
Labels: type.Bug, severity.High

#332 Bugfix concurrent exception when removing multiple vaccinations or patients using force
  src/main/java/seedu/vms/model/appointment/AppointmentManager.java
Labels: type.Bug, severity.High

#334 Fix ID not resetting when cleared
  src/main/java/seedu/vms/model/IdDataMap.java
  src/main/java/seedu/vms/model/StorageModel.java
Labels: type.Bug, severity.Medium

#335 Fix ug ped
  docs/UserGuide.md
  docs/images/Ui.png
Labels: type.DocumentationBug

#337 Fix history requirement checks
  src/main/java/seedu/vms/model/vaccination/VaxChecker.java
Labels: priority.Medium, type.Bug

#338 Refactor VaxTypeManager to follow appointment and patient
  src/main/java/seedu/vms/commons/core/Retriever.java
  src/main/java/seedu/vms/model/Model.java
  src/main/java/seedu/vms/model/vaccination/ReadOnlyVaxTypeManage.java
  src/main/java/seedu/vms/model/vaccination/VaxTypeManager.java
  src/main/java/seedu/vms/storage/StorageManager.java
  src/main/java/seedu/vms/storage/vaccination/JsonVaxTypeStorage.java
  src/main/java/seedu/vms/storage/vaccination/VaxTypeLoader.java
  src/main/java/seedu/vms/storage/vaccination/VaxTypeStorage.java
Labels: type.Bug, severity.Low

#342 Fix patient find/edit error messages
  docs/UserGuide.md
  src/main/java/seedu/vms/logic/commands/patient/AddCommand.java
  src/main/java/seedu/vms/logic/commands/patient/DeleteCommand.java
  src/main/java/seedu/vms/logic/commands/patient/EditCommand.java
  src/main/java/seedu/vms/logic/commands/patient/FindCommand.java
  src/main/java/seedu/vms/logic/parser/patient/FindCommandParser.java
Labels: type.DocumentationBug

#344 Logic component command execution
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/_sass/minima/custom-styles.scss
  docs/diagrams/LogicExecutionSequenceDiagram.puml
  docs/diagrams/LogicQueueSequenceDiagram.puml
  docs/diagrams/LogicStartNextCommand.puml
  docs/diagrams/style.puml
  docs/images/AnnotatedUiDisplay.png
  docs/images/LogicCommandExecutionSequenceDiagram.png
  docs/images/LogicQueueSequenceDiagram.png
  docs/images/StartNextCommandSequenceDiagram.png
  src/main/java/seedu/vms/logic/LogicManager.java
Labels: priority.High, type.Doc

#340 Update Francis PPP
  docs/UserGuide.md
  docs/index.md
  docs/team/francisyzy.md
Labels: type.Doc

#351 Add JSON format to UG
  docs/UserGuide.md
  docs/_sass/minima/_layout.scss
  src/main/java/seedu/vms/logic/LogicManager.java
Labels: priority.High, type.Doc

#350 Fix error message from index to patient_id
  src/main/java/seedu/vms/commons/core/Messages.java
  src/main/java/seedu/vms/logic/commands/appointment/AddCommand.java
  src/main/java/seedu/vms/logic/commands/appointment/EditCommand.java
  src/main/java/seedu/vms/logic/commands/patient/DeleteCommand.java
  src/main/java/seedu/vms/logic/commands/patient/EditCommand.java
  src/test/java/seedu/vms/logic/commands/patient/DeleteCommandTest.java
  src/test/java/seedu/vms/logic/commands/patient/EditCommandTest.java
Labels: type.Bug

#354 Fix id not increasing
  src/main/java/seedu/vms/model/IdDataMap.java
  src/main/java/seedu/vms/model/Model.java
  src/main/java/seedu/vms/model/ModelManager.java
  src/main/java/seedu/vms/model/StorageModel.java
  src/test/java/seedu/vms/logic/commands/patient/AddCommandTest.java
  src/test/java/seedu/vms/logic/commands/vaccination/VaxTypeModelStub.java
  src/test/java/seedu/vms/model/IdDataMapTest.java
Labels: type.Bug, severity.Medium

#356 Update Logic class diagram
  docs/DeveloperGuide.md
  docs/diagrams/LogicClassDiagram.puml
  docs/images/LogicClassDiagram.png
Labels: priority.High, type.Doc

#357 Fix bug of 'keyword' as subkeyword
  src/main/java/seedu/vms/commons/core/Messages.java
  src/main/java/seedu/vms/logic/parser/ParserUtil.java
  src/main/java/seedu/vms/model/keyword/Keyword.java
Labels: type.FunctionalityBug

#360 Edit slackernoob Personal Portfolio Page
  docs/team/slackernoob.md
Labels: type.Doc

#358 Complete UI component in DG
  docs/DeveloperGuide.md
  docs/diagrams/UiClassDiagram.puml
  docs/diagrams/UiDetailedViewClassDiagram.puml
  docs/diagrams/UiDetailedViewPatientObjectDiagram.puml
  docs/diagrams/UiDetailedViewRefreshActivityDiagram.puml
  docs/diagrams/UiListViewPanelActivityDiagram.puml
  docs/diagrams/UiListViewPanelApptObjectDiagram.puml
  docs/diagrams/UiListViewPanelClassDiagram.puml
  docs/diagrams/UiListViewPanelVaxObjectDiagram.puml
  docs/diagrams/UiObjectDiagram.puml
  docs/diagrams/UiResultDisplayActivityDiagram.puml
  docs/diagrams/UiResultDisplayClassDiagram.puml
  docs/diagrams/UiResultDisplayObjectDiagram.puml
  docs/diagrams/style.puml
  docs/images/UiClassDiagram.png
  docs/images/UiDetailedViewClassDiagram.png
  docs/images/UiDetailedViewPatientObjectDiagram.png
  docs/images/UiDetailedViewRefreshActivityDiagram.png
  docs/images/UiListViewPanelActivityDiagram.png
  docs/images/UiListViewPanelApptObjectDiagram.png
  docs/images/UiListViewPanelClassDiagram.png
  docs/images/UiListViewPanelVaxObjectDiagram.png
  docs/images/UiObjectDiagram.png
  docs/images/UiResultDisplayActivityDiagram.png
  docs/images/UiResultDisplayClassDiagram.png
  docs/images/UiResultDisplayObjectDiagram.png
  src/main/java/seedu/vms/logic/LogicManager.java
  src/main/java/seedu/vms/model/Model.java
  src/main/java/seedu/vms/model/ModelManager.java
  src/main/java/seedu/vms/ui/ListViewPanel.java
  src/main/java/seedu/vms/ui/MainWindow.java
  src/main/java/seedu/vms/ui/ResultDisplay.java
  src/test/java/seedu/vms/logic/commands/patient/AddCommandTest.java
  src/test/java/seedu/vms/logic/commands/vaccination/VaxTypeModelStub.java
Labels: priority.High, type.Doc

#355 Updates the Model component of DG
  docs/DeveloperGuide.md
  docs/diagrams/ModelAppointmentClassDiagram.puml
  docs/diagrams/ModelClassDiagram.puml
  docs/diagrams/ModelKeywordClassDiagram.puml
  docs/diagrams/ModelPatientClassDiagram.puml
  docs/diagrams/ModelVaxTypeClassDiagram.puml
  docs/images/ModelAppointmentClassDiagram.png
  docs/images/ModelClassDiagram.png
  docs/images/ModelKeywordClassDiagram.png
  docs/images/ModelPatientClassDiagram.png
  docs/images/ModelVaxTypeClassDiagram.png
Labels: priority.High, type.Doc

#363 Update UI UML diagrams
  docs/DeveloperGuide.md
  docs/diagrams/UiClassDiagram.puml
  docs/diagrams/UiDetailedViewClassDiagram.puml
  docs/diagrams/UiDetailedViewPatientObjectDiagram.puml
  docs/diagrams/UiListViewPanelApptObjectDiagram.puml
  docs/diagrams/UiListViewPanelClassDiagram.puml
  docs/diagrams/UiListViewPanelVaxObjectDiagram.puml
  docs/diagrams/UiObjectDiagram.puml
  docs/diagrams/UiResultDisplayObjectDiagram.puml
  docs/diagrams/style.puml
  docs/images/UiClassDiagram.png
  docs/images/UiDetailedViewClassDiagram.png
  docs/images/UiDetailedViewPatientObjectDiagram.png
  docs/images/UiListViewPanelApptObjectDiagram.png
  docs/images/UiListViewPanelClassDiagram.png
  docs/images/UiListViewPanelVaxObjectDiagram.png
  docs/images/UiObjectDiagram.png
Labels: priority.Medium, type.Doc

#364 Updates the Model class diagram
  docs/diagrams/ModelClassDiagram.puml
  docs/images/ModelClassDiagram.png
Labels: type.Doc

#362 Updates the PPP for nusE0726844
  docs/team/nuse0726844.md
Labels: type.Doc

#365 Start up bug fix
  src/main/java/seedu/vms/model/IdDataMap.java
  src/main/java/seedu/vms/storage/appointment/JsonAdaptedAppointment.java
  src/main/java/seedu/vms/storage/appointment/JsonSerializableAppointmentManager.java
  src/main/java/seedu/vms/storage/patient/JsonSerializablePatientManager.java
  src/test/java/seedu/vms/model/IdDataMapTest.java
Labels: priority.Low, type.Bug

#366 UG update and standardisation
  docs/UserGuide.md
  docs/_sass/minima/_base.scss
  docs/_sass/minima/custom-styles.scss
Labels: priority.Medium, type.Doc

#367 Refactor code
  src/main/java/seedu/vms/commons/util/JsonUtil.java
  src/main/java/seedu/vms/commons/util/StringUtil.java
  src/main/java/seedu/vms/logic/Logic.java
  src/main/java/seedu/vms/logic/LogicManager.java
  src/main/java/seedu/vms/logic/commands/appointment/AddCommand.java
  src/main/java/seedu/vms/logic/commands/appointment/UnmarkCommand.java
  src/main/java/seedu/vms/logic/parser/ParserUtil.java
  src/main/java/seedu/vms/logic/parser/appointment/AddCommandParser.java
  src/main/java/seedu/vms/logic/parser/patient/AddCommandParser.java
  src/main/java/seedu/vms/logic/parser/patient/DeleteCommandParser.java
  src/main/java/seedu/vms/model/FilteredIdDataMap.java
  src/main/java/seedu/vms/model/IdData.java
  src/main/java/seedu/vms/model/IdDataMap.java
  src/main/java/seedu/vms/model/Model.java
  src/main/java/seedu/vms/model/ModelManager.java
  src/main/java/seedu/vms/model/StorageModel.java
  src/main/java/seedu/vms/model/vaccination/Requirement.java
  src/main/java/seedu/vms/model/vaccination/VaxTypeBuilder.java
  src/main/java/seedu/vms/model/vaccination/VaxTypeManager.java
  src/main/java/seedu/vms/storage/JsonAdaptedGroupName.java
  src/main/java/seedu/vms/storage/appointment/JsonSerializableAppointmentManager.java
  src/main/java/seedu/vms/storage/vaccination/JsonAdaptedVaxType.java
  src/main/java/seedu/vms/ui/MainWindow.java
  src/test/java/seedu/vms/logic/commands/patient/AddCommandTest.java
  src/test/java/seedu/vms/logic/commands/vaccination/VaxTypeModelStub.java
Labels: priority.High, type.Task

#376 Fix ug patient
  docs/UserGuide.md
Labels: type.DocumentationBug

#378 Update DG requirements
  docs/DeveloperGuide.md
  docs/images/vaccination/dg/VaxAdd_AllBlank.png
  docs/images/vaccination/dg/VaxAdd_NotBlank.png
  src/main/java/seedu/vms/logic/commands/patient/ClearCommand.java
Labels: priority.High, type.Doc

#377 Improve test codes
  src/main/java/seedu/vms/storage/appointment/JsonAppointmentStorage.java
  src/test/data/appointment/invalidAppointmentManager.json
  src/test/data/appointment/validAppointmentManager.json
  src/test/java/seedu/vms/model/appointment/AppointmentManagerTest.java
  src/test/java/seedu/vms/model/appointment/AppointmentTest.java
  src/test/java/seedu/vms/model/appointment/predicates/EndTimePredicateTest.java
  src/test/java/seedu/vms/model/appointment/predicates/IndexPredicateTest.java
  src/test/java/seedu/vms/model/appointment/predicates/StartTimePredicateTest.java
  src/test/java/seedu/vms/storage/appointment/JsonAdaptedAppointmentTest.java
  src/test/java/seedu/vms/storage/appointment/JsonAppointmentStorageTest.java
  src/test/java/seedu/vms/storage/appointment/JsonSerializableAppointmentManagerTest.java
Labels: priority.High, type.Task

#381 Fix DG formatting and complete Francis PPP
  docs/AboutUs.md
  docs/DeveloperGuide.md
  docs/team/francisyzy.md
Labels: type.Doc

#380 Update architecture component
  docs/DeveloperGuide.md
  docs/diagrams/ArchitectureSequenceDiagram.puml
  docs/images/ArchitectureSequenceDiagram.png
Labels: type.Doc

#382 Planned enhancements
  docs/DeveloperGuide.md
  docs/diagrams/LogicClassDiagram.puml
  docs/diagrams/UiClassDiagram.puml
  docs/diagrams/UiDetailedViewClassDiagram.puml
  docs/diagrams/UiDetailedViewPatientObjectDiagram.puml
  docs/diagrams/UiListViewPanelApptObjectDiagram.puml
  docs/diagrams/UiListViewPanelClassDiagram.puml
  docs/diagrams/UiListViewPanelVaxObjectDiagram.puml
  docs/diagrams/UiResultDisplayClassDiagram.puml
  docs/diagrams/UiResultDisplayObjectDiagram.puml
Labels: priority.High, type.Doc

#383 Adds test cases for Appointment in DG
  docs/DeveloperGuide.md
  docs/images/appointment/dg/AddAppointmentInvalidExisting.PNG
  docs/images/appointment/dg/AddAppointmentInvalidMissing.PNG
  docs/images/appointment/dg/AddAppointmentValid.PNG
Labels: type.Doc

#384 Updates the Appointment Component of UG
  docs/UserGuide.md
  src/main/java/seedu/vms/logic/parser/appointment/FindCommandParser.java
Labels: severity.Medium, type.Doc, type.DocumentationBug

#385 Updates the use cases for Appointments in DG
  docs/DeveloperGuide.md
Labels: type.Doc

#386 Update UML images
  docs/DeveloperGuide.md
  docs/diagrams/UiDetailedViewPatientObjectDiagram.puml
  docs/images/LogicClassDiagram.png
  docs/images/LogicCommandExecutionSequenceDiagram.png
  docs/images/LogicQueueSequenceDiagram.png
  docs/images/StartNextCommandSequenceDiagram.png
  docs/images/UiClassDiagram.png
  docs/images/UiDetailedViewClassDiagram.png
  docs/images/UiDetailedViewPatientObjectDiagram.png
  docs/images/UiDetailedViewRefreshActivityDiagram.png
  docs/images/UiListViewPanelActivityDiagram.png
  docs/images/UiListViewPanelApptObjectDiagram.png
  docs/images/UiListViewPanelClassDiagram.png
  docs/images/UiListViewPanelVaxObjectDiagram.png
  docs/images/UiResultDisplayActivityDiagram.png
  docs/images/UiResultDisplayClassDiagram.png
  docs/images/UiResultDisplayObjectDiagram.png
Labels: priority.High, type.Doc

#388 Minor tip edits
  docs/UserGuide.md
Labels: priority.Medium, type.Doc

#387 Update DG and UG
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/diagrams/StorageClassDiagram.puml
  docs/diagrams/keyword/AddKeywordActivityDiagram.puml
  docs/diagrams/keyword/AddParseActivityDiagram.puml
  docs/diagrams/keyword/AddSequenceDiagram.puml
  docs/diagrams/keyword/DeleteKeywordActivityDiagram.puml
  docs/images/StorageClassDiagram.png
  docs/images/keyword/AddKeywordActivityDiagram.png
  docs/images/keyword/AddKeywordParseActivityDiagram.png
  docs/images/keyword/AddKeywordSequenceDiagram.png
  docs/images/keyword/DeleteKeywordActivityDiagram.png
  docs/images/keyword/Keyword_Add.png
  docs/team/slackernoob.md
Labels: type.Doc

#389 Update planned enhancement
  docs/DeveloperGuide.md
  docs/images/patient/dg/patient_name_long.png
  docs/images/patient/dg/phone_number_long.png
Labels: type.Doc, type.DocumentationBug

#390 Update various images
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/images/appointment/ug/appointmentExampleAdd.PNG
  docs/images/appointment/ug/appointmentExampleEdit.PNG
  docs/images/appointment/ug/appointmentExampleEmpty.PNG
  docs/images/appointment/ug/appointmentExampleMark.PNG
  docs/images/appointment/ug/appointmentExampleUnmark.PNG
  docs/images/nuse0726844.png
Labels: type.Doc

#392 Finish PPP
  docs/team/daitenshionyan.md
Labels: priority.High, type.Task

#394 Minor UG fix
  docs/UserGuide.md
Labels: priority.Medium, type.Doc
